<!DOCTYPE html>
<html lang="nl">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Dylan's Gameshop | Index</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- JavaScript
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
<div id="app">
    <nav><!-- Start menu -->
        <div id="navbar">
            <ul>
                <li class="submenu_parent">
                    <a href="#"><i class="fa fa-gamepad" aria-hidden="true"></i> Platformen</a>
                    <platform_menu></platform_menu>
                </li>
                <li class="floating_menu_component">
                    <a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Winkelwagen</a>
                    <shopcart></shopcart>
                </li>
                <UserNav
                        v-bind:logedin="LogedIn"
                        v-on:showlogin="showLogin"
                        v-on:showregister="showRegister"
                        v-on:login_succes="login_success"
                        v-on:login_failed="login_failed"
                        v-on:logedout="logedout"
                >

                </UserNav>
            </ul>
        </div>
    </nav><!-- End menu -->
    <div class="container margin-top"><!-- Start container -->
        <div class="row">
            <search></search>
            <login></login>
            <register></register>
            <product></product>
            <login v-on:success="login_success" v-on:failed="login_failed" v-on:close="closeLogin" v-if="show_login"></login>
            <register v-on:close="closeRegister"  v-if="show_register" ></register>
        </div>
    </div><!-- End container -->
</div>
<script src="./dist/build.js"></script>
</body>
</html>
