body{
	background: #EDEDED;
}

a{
	display:block;
}

#navbar{
	position:fixed;
	top:0px;
	background:#FCC317;
	width:100%;
	height:50px;
	z-index:1;
}

#navbar > ul{
	list-style-type: none;
}

#navbar > ul > li{
	float:left;
	min-width:180px;
	height:50px;
	text-align: center;
	line-height: 50px;
}

#navbar > ul > li > a{
	color:#D64E04;
	text-decoration:none;
	font-weight:600;
	padding-right: 4px;
}

#navbar > ul > li > a:hover{
	background:#F28449;
	color:#FFFFFF;
}

#navbar > ul > li > ul > li > a{
	color:#FFFFFF;
}

#user_profile{

}

.floating_menu_component{
	float:right !important;
}

.floating_menu_component:hover .submenu{
	display:block !important;
}

.submenu_parent:hover .submenu{
	display:block !important;
}

.clear{
	clear:both;
}

.submenu{
	background-color:#FCC317;
	list-style-type:none;
	margin:auto;
	display:none;
}

.submenu > li > a{
	text-decoration:none;
	color:#D64E04 !important;
}

.submenu > li > a:hover{
	text-decoration:none;
	background:#F28449;
	color:#FFFFFF;
	text-align:auto;
}

.margin-top{
	margin-top:80px;
}

.product{
	background:#FFFFFF;
	border-radius:5px;
	padding:10px;
	margin:10px 5px 10px 5px;
}

.product_title{
	font-weight:600;
	width:100%;
	display:block;
	word-wrap: break-word;
}

.product_image{
	height: 100%;
	width: 100%;
	border:1px solid #000000;
}

.product_price{
	font-weight:600;
	font-size:24px;
	line-height: 1;
}

.popup{
	width:100%;
	height:100%;
	background:#FFFFFF;
	width:      100%;
	height:     100%; 
	z-index:    10;
	top:        0; 
	left:       0; 
	position:   fixed;
	overflow:auto;
}

.close_btn{
	float:right;
	top:0px;
	padding:10px;
	text-align:center;
	background:#BD1122;
	color:#FFFFFF;
}

.close_btn:hover{
	background:#690A14;
	color:#FFFFFF;
}

.total_current_games{
	font-size:32px;
	text-transform: uppercase;
}

.product_image_overview{
	width:150px;
	height:150px;
}

.login_screen{
	font-size:24px;
}

.inner_padding{
	padding:40px;
}

.login_button{
	width:100%;
}

.active{
    display:block;
}

.thumbnail_container{
	width: 150px;
	height: 150px;
	text-align: center;
	vertical-align : middle;
	margin-bottom: 5px;
}
.thumbnail{
	position: relative;
	max-width:150px;
	max-height:150px;
	display: inline;
	top: 50%;
	transform: 			translateY(-50%);
}

.table_thumbnail{
	max-width:150px;
	max-height:150px;
}

.afrekenen{
	text-decoration: underline;
	font-weight: bold;
}

input:focus{
	border:2px solid #000000 !important;
}

.product_detail_title_root_container h2{
	font-size: large;
	margin-bottom: 5px;
	margin-top: 10px;
}

.product_detail_title_root_container ul{
	margin-bottom: 0px;
}

.product_detail_image_container img{
	position: relative;
	max-width: 100%;
}

.product_detail_info_container span > p > li{
	padding-left: 5px;
}

.product_detail_title h1{
	font-size: xx-large;
	margin-bottom: 0em;
}

.product_detail_title.container{
	margin-bottom: 20px;
}

.product_detail_info_container ul{
	list-style-type: none;
}

.product_detail_cart_container{
	box-sizing: border-box;
	border: 1px black solid;
}

.product_detail_cart_container h2{
	margin-top: 0.5em;
	margin-left: 0.5em;
	font-size: large;
}

.product_detail_buttonbox{
	width:100%;
	text-align: center;
}

.product_detail_buttonbox button{
	display: inline;
	width: 65%;
}

.scrollable{
	line-height:20px !important;
	overflow: auto;
	max-height: 100vh;
}

.productbox_gametitle{
	display:block;
	height:20px;
	margin-bottom: 0px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}

.product.Platform.PlatformTitle{

}

.advanced_search{
	background:#FFFFFF;
}