.element-container {
	border: 1px solid black;
	width: auto;
	border-radius: 5px;
}

.cart {
	width: auto;
	margin-left: 10px;
}

.img-responsive {
	width: auto;
	height: auto;
}

.img-thumbnail {
	width: 30px;
	height: 53px;
}

.img-cart-remove {
	width: 60px;
	height: 50px;
	margin-right: 10px;
}

.img-payment {
	height: 200px;
}

.img-payment-left {
	height: 200px;
	margin-left: 50px;
}

.form-btn {
	margin-right: 30px;
}


